.container {
  height: 100vh;
}

.welcome {
  animation: dropIn 2s ease-out;
}

.login {
  animation: appear 1s ease-out 2s 1 backwards;
  animation-fill-mode: backwards;
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    z-index: -1;
  }

  100% {
    opacity: 1;
    z-index: 1;
  }
}
