.reward {
  width: 100%;
  font-size: 11px;
  padding: 1em;
}

.reward-item {
  padding: 0.5em;
  text-align: center;
}

.reward-icon-background {
  height: 0;
  padding-top: 100%;
  position: relative;
  border-radius: calc((4 / 11) * 1em);
}

.reward-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.reward-icon__image {
  position: absolute;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 30%;
}

.reward-icon__cost {
  height: 21.5%;
  padding: 4.3%;
  position: absolute;
  top: 67.7%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.35)!important;
  border-radius: calc((2 / 11) * 1em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.reward-icon__cost__text {
  margin: 0;
}

.reward-label__box {
  margin: calc((5 / 11) * 1em) 0 0;
  height: 3em;
}

.reward-label {
  margin: calc((5 / 11) * 1em) 0 0;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
